.home{
    height:calc(100vh - 70px);
    width:100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-bottom: 20px;
    overflow-x: hidden;
    position:relative;
    /* background-color: antiquewhite; */
}
.pname{
    font-size: 30px;
    font-weight:900;
    margin-top: 20px;
    margin-left: 20px;
}
.some-text{
    font-size: 20px;
    margin-left: 20px;
}
.home-tasks-container{
    display:flex;
    flex-direction: column;
    gap:30px;
}
img{
    object-fit: contain;
    position:fixed;
    /* height:700px; */
    width:700px;
    right:0px;
    bottom: 0px;
}